In [37]:
print("hello")

hello

In [ ]:
# variable types chek  #
a = 200
print(a)
print("The type of variable having value",a,"is",type(a))

200
The type of variable having value 200 is <class 'int'>

In [ ]:
c= 100+5j
print(c)
print("The type of variable having value",c,"is",type(c))

(100+5j)
The type of variable having value (100+5j) is <class 'complex'>

In [ ]:
num_1 = 2.5e4
print(num_1)
print("The type of variable having value",num_1,"is",type(num_1))

In [ ]:
# casting#
num_1 = 5
num_2 = 12.4
a = float(num_2-num_1)  #casting 
print(a,type(a))

In [ ]:
num_2 = 12.4
b = int(num_2)
print(b,type(b))

12 <class 'int'>

In [ ]:
#python collectio four major data type 
#List,Tuple,Set,Dictionary
#Python List 
my_list = [1,10,15,18]
print(type(my_list))
print(my_list)
print(my_list[0])

<class 'list'>
[1, 10, 15, 18]
1

In [ ]:
#changing 2nd index value 
my_list = [1,10,15,18]
my_list[2]=45
print(my_list)

[1, 10, 45, 18]

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list,type(my_list),len(my_list))

[1, 10, 10, 'eat', 8, True] <class 'list'> 6

In [ ]:
#
my_list =[1,10,10,"eat",8,True]
print(my_list[-1])

True

In [ ]:
#sub indexing
my_list =[1,10,10,"eat",8,True]
print(my_list[1:4])#methan apita subset krana awashya index ekata ekak wadiyen deveni value eka dan naona.nattan apita awashya eka enne na.ekata ekak aduwen enne

[10, 10, 'eat']

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list[:3]) #api mul index eka 0 nisa eka danne na me widiyata thamaiapi o index ekai anith index ewai subset kraddi ganne

[1, 10, 10, 'eat']

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list[3:])#methana wenne apita sub set kran ona eka index ekaka idan lsit eke last index eka wenakm nm apita mehema subset kranna puluwan

['eat', 8, True]

In [ ]:
#Quection(2 & 3 indexes includes dog & 19.0)
my_list =[1,10,10,"eat",8,True]
my_list[2:4] = "dog",19.0
print(my_list)

[1, 10, 'dog', 19.0, 8, True]

In [ ]:
#insert
my_list =[1,10,10,"eat",8,True]
my_list.insert(3,"rabbit")
print(my_list,len(my_list))

[1, 10, 10, 'rabbit', 'eat', 8, True] 7

In [ ]:
#append(incluede new index in array end)
my_list =[1,10,10,"eat",8,True]
my_list.append("car")
print(my_list,len(my_list))

[1, 10, 10, 'eat', 8, True, 'car', 'car'] 8

In [ ]:
#extend lits
my_list =[1,10,10,"eat",8,True]
new_list =[24,"10",10,"Beat","BUs",False]
my_list.extend(new_list)
print(my_list)

[1, 10, 10, 'eat', 8, True, 24, '10', 10, 'Beat', 'BUs', False]

In [ ]:
#remove index
my_list =[1,10,10,"eat",8,True]
my_list.pop(4)
print(my_list)

[1, 10, 10, 'eat', True]

In [ ]:
#remove value
my_list =[1,10,10,"eat",8,True]
my_list.remove("eat")
print(my_list)

[1, 10, 10, 8, True]

In [ ]:
#delete list 
my_list =[1,10,10,"eat",8,True]
del my_list

In [ ]:
#Clear(all indexes are removed)
my_list =[1,10,10,"eat",8,True]
my_list.clear()
print(len(my_list),my_list)

0 []

In [ ]:
#sort array(by default sort)
my_list = ["banana","apple","beans","rice"]
my_list.sort()
print(my_list)

['Beans', 'apple', 'banana', 'rice']

In [ ]:
#Case sensitive sort
#capital letters include value.this value is priority. capital lettr include word in any placecs.this word priority.
my_list = ["banana","apple","Beans","rice"]
my_list.sort()
print(my_list)

['Beans', 'apple', 'banana', 'rice']

In [ ]:
#Case insensitive sort(accendin)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(key=str.lower)
print(my_list)

['apple', 'banana', 'Beans', 'dog', 'rice']

In [ ]:
#Case insensitive sort(deccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(reverse=True)
print(my_list)

['rice', 'dog', 'banana', 'apple', 'Beans']

In [ ]:
#change array order(not accending or diccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.reverse()
print(my_list)

['rice', 'Beans', 'apple', 'banana', 'dog']

In [ ]:
my_list1 = [-10,-18,12,5,7,12,-3]
my_list2 = [8,4,-3,9,2,11]
my_list1.extend(my_list2)
print(my_list1)

my_list1.sort()
print("sort list",my_list1)
list_length = len(my_list1)
if(list_length%2 == 0):
    median = my_list1[list_length//2-1]
   

else:
    median= my_list1[list_length//2]
    print("median",median)
    list_Q1 = []
    
    median_index = my_list1.index(median)
    list_Q1 = my_list1[0:median_index+1]
    print(list_Q1)
    list_Q1_length =len(list_Q1)
    if( list_Q1_length%2 == 0):
        q1 = my_list1[list_Q1_length//2-1]
        print("Q1",q1)
       
    else:
        list_Q1 = []
        median_index = my_list1.index(median)
        list_Q1 = my_list1[median_index:]
        print(list_Q1)
        list_Q1_length =len(list_Q1)
        q1 = my_list1[list_Q1_length//2]
        print("Q1",q1)
    if()

SyntaxError: expected ':' (2015437312.py, line 34)

In [ ]:
my_tuple_1=("Dog")
print(type(my_tuple_1))# give the type as string (because t has only one element and does not add , after that)
my_tuple_2=("cat",)
print(type(my_tuple_2))# give type as tuple because in this already add , after the elemnt in my_tuple_2



my_tuple_2=list(my_tuple_2)# convert tuple to list
print(my_tuple_2)
print(type(my_tuple_2))
my_tuple_2=tuple(my_tuple_2)# use tuple constructor and convert list to tuple again
print(type(my_tuple_2))
print(my_tuple_2)

<class 'str'>
<class 'tuple'>
['cat']
<class 'list'>
<class 'tuple'>
('cat',)

In [ ]:
my_tuple_1=(10,8,20,5)
my_tuple_2=(5,9,-1)
my_tuple_1=list(my_tuple_1)
my_tuple_2=list(my_tuple_2)
my_tuple_1.remove(20)
my_tuple_1.extend(my_tuple_2)
my_tuple_1.sort()
my_tuple_1=tuple(my_tuple_1)



print(my_tuple_1)

In [ ]:
my_tuple=((1,10,8),("dog","cat","rat"),(True,False))
print(my_tuple[0][1])
print(my_tuple[1][1])
print(my_tuple[2][0])

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)
print(type(dic_1))
print(dic_1["name"])#access the value of name(in here, use the key as index)

{'name': 'suger', 'price': 120}
<class 'dict'>
suger

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

dic_1.pop("color")# remove an item from dic
print(dic_1)
dic_1.popitem()
print(dic_1)# remove the last item of dic

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}
{'name': 'suger'}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

del dic_1["color"]# distory specific value of dic
print(dic_1)

dic_1.clear()# remove all values of dic
print(dic_1)

del dic_1# ditroy whole dic
print(dic_1)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}
{}

NameError: name 'dic_1' is not defined

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
dic_2=dic_1.copy()# copy the dic 1 items to dic2(also you can use dict constructor)
print(dic_2)
dic_1["color"]="red"
print(dic_1)
print(dic_2)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "color":"red"
}
print(dic_1.keys())# to get all keys at once

dict_keys(['name', 'price', 'color'])

In [ ]:
a= 15//4# neglect the floting part
b=15/4# give real value
c=12%3# give remaining
print(a)
print(b)
print(c)

3
3.75
0

In [ ]:
a=input("Enter a Value")
print(a)

s

In [ ]:
num=input("Enter a number")

x=int(num)%7
print(num==0)

False

In [ ]:
x,y=5,6
print(x>1 and y<10)
print (not x>20)

True
True

In [ ]:
num=input("Enter a number")

print((int(num)<100 and int(num)>0) and (int(num)%2==1))

False

In [ ]:
x=5
y=5
print(x is y)

True

In [ ]:
nums=[10,20,30,40,50]
print( 20 in nums)# check whether 20 is in the nums

True

In [ ]:
x=5
y=10
z=10 & 5
print(z)

0

In [ ]:
num=7
if (num%2)==1:
    print("odd")

else:
    print("even")

odd

In [ ]:
a=10

if a<0 :
    print(a," is a negative number")

elif a>0:
    print(a, " is a positive number")

else:
    print(a, "is a Zero")

10  is a positive number

In [ ]:
mark=input ("Marks")
mark=int(mark)

if 100>= mark >=85 :
    print ("A")

elif 85> mark>=75:
    print ("B")
elif 75> mark>=65:
    print ("C")

elif 65> mark >= 55:
    print ("D")

elif mark<55:
    print ("F")
else:
    print("wrong input")

C

In [ ]:
x=input()
x=int(x)

match x:
    case 0:
        print("Zero")
    
    case -1:
        print("Negative one")
    
    case 1:
         print("Positive one")
    
    case _ if x>1:
        print("positive num greater than 1")
    
    case _ if x<-1:
        print("negative num less than -1")
    case _:
        print("unmatch case")

positive num greater than 1

In [ ]:
x=[1,2]

match x:
    case _ if []:
        print("empty list")
    
    case  [x]:
        print("List has single element")
    
    case[x,y]:
          print("List has two element")
    
    case _:
          print("This is somthing else")

List has two element

In [ ]:
response_code=100

match response_code:
    case 200:
        print("OK")
    
    case 201:
        print("Created")
    
    case 404:
        print("not found")
    
    case _:
        print("Something else")

Something else

In [ ]:
fruits=["apple","banana","roseapple"]

for fruit in fruits:
    print(fruit)

apple
banana
roseapple

In [ ]:
my_list=[1,2,3,4]
my_list_new=[]

for x in my_list:
  
  my_list_new.append(x * x)

 

print (my_list_new)

[1, 4, 9, 16]

In [ ]:
my_list=[1,2,3,4]
my_list_new=[]

[x**2 for x in my_list]

[1, 4, 9, 16]

In [ ]:
[x ** 2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
x=input()
x=int(x)
y=2
while y<x:
    
    print(y)

    if y==10:
        break
    
    y =y +2

2
4
6
8
10

In [44]:
count=0
while True:
    x = input(x)
    x = int(x)
    count=count + x
    print(count)

    if x == 0 :
        break

7
15
24
32
32

In [45]:
my_list=[3,8,15,10,9,7,14]

for x in my_list:
    if x % 2 ==0:
        continue
    print(x)

3
15
9
7

In [46]:
#unpacking

my_list=[10,12,8]
x,y,z=my_list
print(x,y,z)

10 12 8

In [49]:
my_dic={
    "name":"sawani",
    "age":22
}
x,y= my_dic.values()
print(x,y)

sawani 22

In [50]:
my_dic={
    "name":"sawani",
    "age":22
}
for key, value in my_dic.items():
    print(key, value)

name sawani
age 22

In [54]:
my_dic_1={
    "age":22
}
my_dic_2={
    "l":22
}
my_dic_3= my_dic_1 | my_dic_2
print(my_dic_3)

{'age': 22, 'l': 22}

In [57]:
my_dic_1={
    "age":22
}
print(my_dic_1.get(key,"age"))
print(my_dic_1.get('b'))

22
None

In [2]:

def  addtion(a,b):
 return a+b

print(addtion(1,4))

5

In [3]:
def calArea(r):
    return (22 * r * r)/7

print(calArea(7))

154.0

In [5]:
my_list=[4,8,12,5,9,7]

def getAvg(myList):
    
    return sum(myList)/len(myList)

print(getAvg(my_list))

7.5

In [10]:
my_list=[4,8,12,5,9,7]

print(my_list[::2])

[4, 12, 9]