In [37]:
print("hello")

hello

In [ ]:
# variable types chek  #
a = 200
print(a)
print("The type of variable having value",a,"is",type(a))

200
The type of variable having value 200 is <class 'int'>

In [ ]:
c= 100+5j
print(c)
print("The type of variable having value",c,"is",type(c))

(100+5j)
The type of variable having value (100+5j) is <class 'complex'>

In [ ]:
num_1 = 2.5e4
print(num_1)
print("The type of variable having value",num_1,"is",type(num_1))

In [ ]:
# casting#
num_1 = 5
num_2 = 12.4
a = float(num_2-num_1)  #casting 
print(a,type(a))

In [ ]:
num_2 = 12.4
b = int(num_2)
print(b,type(b))

12 <class 'int'>

In [ ]:
#python collectio four major data type 
#List,Tuple,Set,Dictionary
#Python List 
my_list = [1,10,15,18]
print(type(my_list))
print(my_list)
print(my_list[0])

<class 'list'>
[1, 10, 15, 18]
1

In [ ]:
#changing 2nd index value 
my_list = [1,10,15,18]
my_list[2]=45
print(my_list)

[1, 10, 45, 18]

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list,type(my_list),len(my_list))

[1, 10, 10, 'eat', 8, True] <class 'list'> 6

In [ ]:
#
my_list =[1,10,10,"eat",8,True]
print(my_list[-1])

True

In [ ]:
#sub indexing
my_list =[1,10,10,"eat",8,True]
print(my_list[1:4])#methan apita subset krana awashya index ekata ekak wadiyen deveni value eka dan naona.nattan apita awashya eka enne na.ekata ekak aduwen enne

[10, 10, 'eat']

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list[:3]) #api mul index eka 0 nisa eka danne na me widiyata thamaiapi o index ekai anith index ewai subset kraddi ganne

[1, 10, 10, 'eat']

In [ ]:
my_list =[1,10,10,"eat",8,True]
print(my_list[3:])#methana wenne apita sub set kran ona eka index ekaka idan lsit eke last index eka wenakm nm apita mehema subset kranna puluwan

['eat', 8, True]

In [ ]:
#Quection(2 & 3 indexes includes dog & 19.0)
my_list =[1,10,10,"eat",8,True]
my_list[2:4] = "dog",19.0
print(my_list)

[1, 10, 'dog', 19.0, 8, True]

In [ ]:
#insert
my_list =[1,10,10,"eat",8,True]
my_list.insert(3,"rabbit")
print(my_list,len(my_list))

[1, 10, 10, 'rabbit', 'eat', 8, True] 7

In [ ]:
#append(incluede new index in array end)
my_list =[1,10,10,"eat",8,True]
my_list.append("car")
print(my_list,len(my_list))

[1, 10, 10, 'eat', 8, True, 'car', 'car'] 8

In [ ]:
#extend lits
my_list =[1,10,10,"eat",8,True]
new_list =[24,"10",10,"Beat","BUs",False]
my_list.extend(new_list)
print(my_list)

[1, 10, 10, 'eat', 8, True, 24, '10', 10, 'Beat', 'BUs', False]

In [ ]:
#remove index
my_list =[1,10,10,"eat",8,True]
my_list.pop(4)
print(my_list)

[1, 10, 10, 'eat', True]

In [ ]:
#remove value
my_list =[1,10,10,"eat",8,True]
my_list.remove("eat")
print(my_list)

[1, 10, 10, 8, True]

In [ ]:
#delete list 
my_list =[1,10,10,"eat",8,True]
del my_list

In [ ]:
#Clear(all indexes are removed)
my_list =[1,10,10,"eat",8,True]
my_list.clear()
print(len(my_list),my_list)

0 []

In [ ]:
#sort array(by default sort)
my_list = ["banana","apple","beans","rice"]
my_list.sort()
print(my_list)

['Beans', 'apple', 'banana', 'rice']

In [ ]:
#Case sensitive sort
#capital letters include value.this value is priority. capital lettr include word in any placecs.this word priority.
my_list = ["banana","apple","Beans","rice"]
my_list.sort()
print(my_list)

['Beans', 'apple', 'banana', 'rice']

In [ ]:
#Case insensitive sort(accendin)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(key=str.lower)
print(my_list)

['apple', 'banana', 'Beans', 'dog', 'rice']

In [ ]:
#Case insensitive sort(deccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(reverse=True)
print(my_list)

['rice', 'dog', 'banana', 'apple', 'Beans']

In [ ]:
#change array order(not accending or diccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.reverse()
print(my_list)

['rice', 'Beans', 'apple', 'banana', 'dog']

In [ ]:
my_list1 = [-10,-18,12,5,7,12,-3]
my_list2 = [8,4,-3,9,2,11]
my_list1.extend(my_list2)
print(my_list1)

my_list1.sort()
print("sort list",my_list1)
list_length = len(my_list1)
if(list_length%2 == 0):
    median = my_list1[list_length//2-1]
   

else:
    median= my_list1[list_length//2]
    print("median",median)
    list_Q1 = []
    
    median_index = my_list1.index(median)
    list_Q1 = my_list1[0:median_index+1]
    print(list_Q1)
    list_Q1_length =len(list_Q1)
    if( list_Q1_length%2 == 0):
        q1 = my_list1[list_Q1_length//2-1]
        print("Q1",q1)
       
    else:
        list_Q1 = []
        median_index = my_list1.index(median)
        list_Q1 = my_list1[median_index:]
        print(list_Q1)
        list_Q1_length =len(list_Q1)
        q1 = my_list1[list_Q1_length//2]
        print("Q1",q1)
    if()

SyntaxError: expected ':' (2015437312.py, line 34)

In [ ]:
my_tuple_1=("Dog")
print(type(my_tuple_1))# give the type as string (because t has only one element and does not add , after that)
my_tuple_2=("cat",)
print(type(my_tuple_2))# give type as tuple because in this already add , after the elemnt in my_tuple_2



my_tuple_2=list(my_tuple_2)# convert tuple to list
print(my_tuple_2)
print(type(my_tuple_2))
my_tuple_2=tuple(my_tuple_2)# use tuple constructor and convert list to tuple again
print(type(my_tuple_2))
print(my_tuple_2)

<class 'str'>
<class 'tuple'>
['cat']
<class 'list'>
<class 'tuple'>
('cat',)

In [ ]:
my_tuple_1=(10,8,20,5)
my_tuple_2=(5,9,-1)
my_tuple_1=list(my_tuple_1)
my_tuple_2=list(my_tuple_2)
my_tuple_1.remove(20)
my_tuple_1.extend(my_tuple_2)
my_tuple_1.sort()
my_tuple_1=tuple(my_tuple_1)



print(my_tuple_1)

In [ ]:
my_tuple=((1,10,8),("dog","cat","rat"),(True,False))
print(my_tuple[0][1])
print(my_tuple[1][1])
print(my_tuple[2][0])

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)
print(type(dic_1))
print(dic_1["name"])#access the value of name(in here, use the key as index)

{'name': 'suger', 'price': 120}
<class 'dict'>
suger

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

dic_1.pop("color")# remove an item from dic
print(dic_1)
dic_1.popitem()
print(dic_1)# remove the last item of dic

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}
{'name': 'suger'}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
print(dic_1)

dic_1["color"]="red" # add new item to dic that already declred
print(dic_1)

del dic_1["color"]# distory specific value of dic
print(dic_1)

dic_1.clear()# remove all values of dic
print(dic_1)

del dic_1# ditroy whole dic
print(dic_1)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}
{}

NameError: name 'dic_1' is not defined

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "price":120# dictionary does not support for duplicate values
}
dic_2=dic_1.copy()# copy the dic 1 items to dic2(also you can use dict constructor)
print(dic_2)
dic_1["color"]="red"
print(dic_1)
print(dic_2)

{'name': 'suger', 'price': 120}
{'name': 'suger', 'price': 120, 'color': 'red'}
{'name': 'suger', 'price': 120}

In [ ]:
dic_1={
    "name":"suger",
    "price":250.00,
    "color":"red"
}
print(dic_1.keys())# to get all keys at once

dict_keys(['name', 'price', 'color'])

In [ ]:
a= 15//4# neglect the floting part
b=15/4# give real value
c=12%3# give remaining
print(a)
print(b)
print(c)

3
3.75
0

In [ ]:
a=input("Enter a Value")
print(a)

s

In [ ]:
num=input("Enter a number")

x=int(num)%7
print(num==0)

False

In [ ]:
x,y=5,6
print(x>1 and y<10)
print (not x>20)

True
True

In [ ]:
num=input("Enter a number")

print((int(num)<100 and int(num)>0) and (int(num)%2==1))

False

In [ ]:
x=5
y=5
print(x is y)

True

In [ ]:
nums=[10,20,30,40,50]
print( 20 in nums)# check whether 20 is in the nums

True

In [ ]:
x=5
y=10
z=10 & 5
print(z)

0

In [ ]:
num=7
if (num%2)==1:
    print("odd")

else:
    print("even")

odd

In [ ]:
a=10

if a<0 :
    print(a," is a negative number")

elif a>0:
    print(a, " is a positive number")

else:
    print(a, "is a Zero")

10  is a positive number

In [ ]:
mark=input ("Marks")
mark=int(mark)

if 100>= mark >=85 :
    print ("A")

elif 85> mark>=75:
    print ("B")
elif 75> mark>=65:
    print ("C")

elif 65> mark >= 55:
    print ("D")

elif mark<55:
    print ("F")
else:
    print("wrong input")

C

In [ ]:
x=input()
x=int(x)

match x:
    case 0:
        print("Zero")
    
    case -1:
        print("Negative one")
    
    case 1:
         print("Positive one")
    
    case _ if x>1:
        print("positive num greater than 1")
    
    case _ if x<-1:
        print("negative num less than -1")
    case _:
        print("unmatch case")

positive num greater than 1

In [ ]:
x=[1,2]

match x:
    case _ if []:
        print("empty list")
    
    case  [x]:
        print("List has single element")
    
    case[x,y]:
          print("List has two element")
    
    case _:
          print("This is somthing else")

List has two element

In [ ]:
response_code=100

match response_code:
    case 200:
        print("OK")
    
    case 201:
        print("Created")
    
    case 404:
        print("not found")
    
    case _:
        print("Something else")

Something else

In [ ]:
fruits=["apple","banana","roseapple"]

for fruit in fruits:
    print(fruit)

apple
banana
roseapple

In [ ]:
my_list=[1,2,3,4]
my_list_new=[]

for x in my_list:
  
  my_list_new.append(x * x)

 

print (my_list_new)

[1, 4, 9, 16]

In [ ]:
my_list=[1,2,3,4]
my_list_new=[]

[x**2 for x in my_list]

[1, 4, 9, 16]

In [ ]:
[x ** 2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
x=input()
x=int(x)
y=2
while y<x:
    
    print(y)

    if y==10:
        break
    
    y =y +2

2
4
6
8
10

In [44]:
count=0
while True:
    x = input(x)
    x = int(x)
    count=count + x
    print(count)

    if x == 0 :
        break

7
15
24
32
32

In [45]:
my_list=[3,8,15,10,9,7,14]

for x in my_list:
    if x % 2 ==0:
        continue
    print(x)

3
15
9
7

In [46]:
#unpacking

my_list=[10,12,8]
x,y,z=my_list
print(x,y,z)

10 12 8

In [49]:
my_dic={
    "name":"sawani",
    "age":22
}
x,y= my_dic.values()
print(x,y)

sawani 22

In [50]:
my_dic={
    "name":"sawani",
    "age":22
}
for key, value in my_dic.items():
    print(key, value)

name sawani
age 22

In [54]:
my_dic_1={
    "age":22
}
my_dic_2={
    "l":22
}
my_dic_3= my_dic_1 | my_dic_2
print(my_dic_3)

{'age': 22, 'l': 22}

In [57]:
my_dic_1={
    "age":22
}
print(my_dic_1.get(key,"age"))
print(my_dic_1.get('b'))

22
None

In [2]:

def  addtion(a,b):
 return a+b

print(addtion(1,4))

5

In [3]:
def calArea(r):
    return (22 * r * r)/7

print(calArea(7))

154.0

In [5]:
my_list=[4,8,12,5,9,7]

def getAvg(myList):
    
    return sum(myList)/len(myList)

print(getAvg(my_list))

7.5

In [10]:
my_list=[4,8,12,5,9,7]

print(my_list[::2])

[4, 12, 9]

In [8]:
class Car:
    cateroty="motor vehicle"

    def display(self):
        print(self.model)

    def __init__(self,model,name):
        self.model=model
        self.name=name
    
    def update(self,model,name):
        self.model=model
        self.name=name


new_car=Car("FB 15","Ex saloon")
print(new_car.cateroty)
new_car.display()
new_car.update("FB-15","Sunny")
print("after update")
new_car.display()
print(new_car.name)

motor vehicle
FB 15
after update
FB-15
Sunny

In [15]:
class BankAcc:


    def __init__(self,acc_holder,balance=0):
            self.acc_holder=acc_holder
            self.balance=balance

    def deposit(self,amount):
        if amount<0:
             print("Incorrect amount")
        else: 
            self.balance=self.balance+amount
    
    def withdrow(self,amount):
        if self.balance-amount<0:
             print("In sufficient balance")
        else:
            self.balance=self.balance-amount
    def display(self):
        print("Balance", self.balance)

new_bank_acc= BankAcc("sawani")
new_bank_acc.display()
new_bank_acc.deposit(1000)
new_bank_acc.display()
new_bank_acc.withdrow(500)
new_bank_acc.display()
new_bank_acc.withdrow(2500)

Balance 0
Balance 1000
Balance 500
In sufficient balance

In [21]:
class Animal:
    def __init__(self,name):
       self.name=name
    
    def speak(self):
        pass
    

class Dog(Animal):
    
    def __init__(self,name,color):
        #self.name=name
        super().__init__(name)# super class eke constructor call krnw child class eke contructor eke idn
        self.color=color


    def speak(self):
        print(self.name)

class Cat(Animal):
    def speak(self):
        print(self.name)

cat_1=Cat("Chilli")
print("name : ",cat_1.name)
dog_1=Dog("Shadow","Brown")
print(dog_1.name, dog_1.color)

name :  Chilli
Shadow Brown

In [32]:
#base class- LibraryItem, attributes- title(String), author(string), publication_year(int)
#methods- display_info print the details of an item
#sub class1-Book-additional attributes-genre(String),isbn(string), overide-displayinfo- printThe details with genre ,isbn
#derived class-Magazine inherict from Library-Item addional attributes-issue(String),date(String), overinde display_info(including issue)
# task- crete instance of each class(book,magazine)with appropriate values
#call the display info methods for each instance to test inheritance and method overide


class LibraryItem:
    def __init__(self,title,author,publication_year):
        self.title=title
        self.author=author
        self.publication_year=publication_year

    def display_info(self):
        print("Title : ",self.title)
        print("Author : ",self.author)
        print("Year : ",self.publication_year)

class Book(LibraryItem):
    def __init__(self,title,author,publication_year,genre,isbn):
        super().__init__(title,author,publication_year)
        self.genre=genre
        self.isbn=isbn

    def display_info(self):
        print("Genre: ",self.genre)
        print("ISBN : ",self.isbn)
        super().display_info()

class Magezine(LibraryItem):
    def __init__(self,title,author,publication_year,issue_no):
        super().__init__(title,author,publication_year)
        self.issue_no=issue_no

    def display_info(self):
       print("Genre: ",self.issue_no)
       super().display_info()   



book = Book("Madolduwa", "Martin Wickramasinghe", "1980", "Fiction", "I1001")
book.display_info()


magazine = Magezine("Tech Today", "John Doe", "2024", "2024-01")
magazine.display_info()

Genre:  Fiction
ISBN :  I1001
Title :  Madolduwa
Author :  Martin Wickramasinghe
Year :  1980
Genre:  2024-01
Title :  Tech Today
Author :  John Doe
Year :  2024

In [35]:
class MyClass:
    def __init__(self,protected_var,private_var) :
        self._protected_var=protected_var
        self.__private_var=private_var

my_obj=MyClass("test_1","test_2")
print(my_obj._protected_var)# not encourage
#print(my_obj.__private_var)#error

test_1

In [37]:
class Example:
    def __init__(self):
        self.__data="Encapsulated data"
    
    def get_value(self):
        print("Value of details",self.__data)
    
    def set_value(self,new_value):
        self.__data=new_value


example=Example()
example.get_value()
example.set_value("Sawani")
example.get_value()

Value of details Encapsulated data
Value of details Sawani

In [21]:
# write a python program to create class Name-Quadatric Equation that represents Equation for ax^2+bx+c=0
#private attributes a,b,c to store the co-officientof the quadatric equation

# a constructor to initilize the co officient a,b,c
#a private method to discriminent that caluculates an retrun the distriminent(D=b^2 -4ac)
# a public method to find roots that use the private  discriminent method  return the root of the Quadatric Equation
#if d=0, one real root D<0, 2 complex roots, D>0 2 disticnt real roots
import math
class QuadatricEquation:
    
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    
    #def get_value(self):
      #  print("Value of details",self.__data)
    
    #def set_value(self,new_value):
        #self.__data=new_value
    
    def  __discriminent(self):
       return self.b*self.b- (4 * self.a * self.c)
    
    def find_roots(self):
        d=self.__discriminent()
        if d > 0:
            print("two roots")
            print((-self.b+ math.sqrt(d))/2*self.a)
            print((-self.b - math.sqrt(d))/2*self.a)
        
        elif d==0:
            print("one root")
            print((-self.b+ math.sqrt(d))/2*self.a)
        
        else:
            print("complex roots")
            real_part= - self.b / 2*self.a
            complex_part=math.sqrt(-d)/2*self.a
            print(real_part ," + ",complex_part)
        
    
x=QuadatricEquation(1,1,4)
x.find_roots()

complex roots
-0.5  +  1.9364916731037085

In [1]:
file_1=open("my_file.txt","r")
file_1_content=file_1.readline()
print(file_1_content)
# readline eken read wenne cursor ek thiyn point eke idn e line eke thiyn tika witri /n kyn ek auto dgannw

aaaaa

In [3]:
file_1=open("my_file.txt","r")
file_1_content=file_1.readlines()
print("type : ",type(file_1_content)," ",file_1_content)
file_1.close()

type :  <class 'list'>   ['aaaaa\n', 'bbbbb\n', 'ccccc']

In [11]:
with open("my_file_1.txt","w") as file:
    file.writelines(["This is our \n","python class\n"])

In [15]:
with open("my_file_1.txt","a") as file:
    file.write("\nwe are globle citizens")

In [13]:
#implement a simple contact management system
#create a program that stores and manage contacts in a file name contacts.txt each contact entity should include phone, name, email
# features- add the new contact(append to the file), view all (read and display all contact and files),exist the program
def add_new():
    name=input("Name")
    contact=input("contact")
    email=input("email")

    with open("contact_file.txt","a")as file:
        file.write(name+" "+contact+" "+email+"\n")


def viewAll():
    with open("contact_file.txt","r") as file:
        content=file.readlines()
        for contact in content:
            print(contact)
       

while True:
    print("1 to add new \n 2 to view all \n 3 to exist")
    command=input("enter command :")
    command=int(command)
    match command:
        case 1:
            add_new()
        
        case 2:
            viewAll()
        
        case 3:
            break

        case _:
            print("Invalid input")

1 to add new
 2 to view all
 3 to exist


sawani s s

sawani s s

sawani ss ss

1 to add new
 2 to view all
 3 to exist

In [2]:
import json
json_file_path='example1.json'

#open json file for reading
with open(json_file_path,'r') as json_file:
    #load the data into python dictonary
    data=json.load(json_file) 

print(data)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [5]:
data={
    "name":"sawani",
    "age": 22,
    "city":"mathugama"
}

json_file_path='test.json'

with open(json_file_path,'w')as file:
    jason_data=json.dumps(data,indent=4)# dumps return a json string
    file.write(jason_data)

In [19]:
#students.json wchich contains information about students and their grades your task is to read the json file display the name of all students who 
# scored 75, add the new student to file
# update the data
def printData():
    with open('students.json','r') as file:
        data=json.load(file)
        for student in data:
            if(int(student["grade"])>75):
                print(student["name"])
    

def add_new():

    dic={

        }
    name=input("name")  
    score=input("score")
    score=int(score)
    dic["name"]=name
    dic["grade"]=score
    with open('students.json','r') as file:
        data=json.load(file)
    with open ('students.json','w') as file:
        data.append(dic)
        json_data=json.dumps(data)
        file.write(json_data)


add_new()
printData()

Alice
charlie
sawani

In [1]:
import csv
csv_file_path='customers-100.csv'
with open (csv_file_path,'r',newline='') as csv_file:
    csv_reader=csv.reader(csv_file)
    for row in csv_reader:
        print(row,type(row))

['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City', 'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date', 'Website'] <class 'list'>
['1', 'DD37Cf93aecA6Dc', 'Sheryl', 'Baxter', 'Rasmussen Group', 'East Leonard', 'Chile', '229.077.5154', '397.884.0519x718', 'zunigavanessa@smith.info', '2020-08-24', 'http://www.stephenson.com/'] <class 'list'>
['2', '1Ef7b82A4CAAD10', 'Preston', 'Lozano', 'Vega-Gentry', 'East Jimmychester', 'Djibouti', '5153435776', '686-620-1820x944', 'vmata@colon.com', '2021-04-23', 'http://www.hobbs.com/'] <class 'list'>
['3', '6F94879bDAfE5a6', 'Roy', 'Berry', 'Murillo-Perry', 'Isabelborough', 'Antigua and Barbuda', '+1-539-402-0259', '(496)978-3969x58947', 'beckycarr@hogan.com', '2020-03-25', 'http://www.lawrence.com/'] <class 'list'>
['4', '5Cef8BFA16c5e3c', 'Linda', 'Olsen', 'Dominguez, Mcmillan and Donovan', 'Bensonview', 'Dominican Republic', '001-808-617-6467x12895', '+1-813-324-8756', 'stanleyblackwell@benson.org', '2020-06-02', 'http://www.good-lyons.com/'] <class 'list'>
['5', '053d585Ab6b3159', 'Joanna', 'Bender', 'Martin, Lang and Andrade', 'West Priscilla', 'Slovakia (Slovak Republic)', '001-234-203-0635x76146', '001-199-446-3860x3486', 'colinalvarado@miles.net', '2021-04-17', 'https://goodwin-ingram.com/'] <class 'list'>
['6', '2d08FB17EE273F4', 'Aimee', 'Downs', 'Steele Group', 'Chavezborough', 'Bosnia and Herzegovina', '(283)437-3886x88321', '999-728-1637', 'louis27@gilbert.com', '2020-02-25', 'http://www.berger.net/'] <class 'list'>
['7', 'EA4d384DfDbBf77', 'Darren', 'Peck', 'Lester, Woodard and Mitchell', 'Lake Ana', 'Pitcairn Islands', '(496)452-6181x3291', '+1-247-266-0963x4995', 'tgates@cantrell.com', '2021-08-24', 'https://www.le.com/'] <class 'list'>
['8', '0e04AFde9f225dE', 'Brett', 'Mullen', 'Sanford, Davenport and Giles', 'Kimport', 'Bulgaria', '001-583-352-7197x297', '001-333-145-0369', 'asnow@colon.com', '2021-04-12', 'https://hammond-ramsey.com/'] <class 'list'>
['9', 'C2dE4dEEc489ae0', 'Sheryl', 'Meyers', 'Browning-Simon', 'Robersonstad', 'Cyprus', '854-138-4911x5772', '+1-448-910-2276x729', 'mariokhan@ryan-pope.org', '2020-01-13', 'https://www.bullock.net/'] <class 'list'>
['10', '8C2811a503C7c5a', 'Michelle', 'Gallagher', 'Beck-Hendrix', 'Elaineberg', 'Timor-Leste', '739.218.2516x459', '001-054-401-0347x617', 'mdyer@escobar.net', '2021-11-08', 'https://arias.com/'] <class 'list'>
['11', '216E205d6eBb815', 'Carl', 'Schroeder', 'Oconnell, Meza and Everett', 'Shannonville', 'Guernsey', '637-854-0256x825', '114.336.0784x788', 'kirksalas@webb.com', '2021-10-20', 'https://simmons-hurley.com/'] <class 'list'>
['12', 'CEDec94deE6d69B', 'Jenna', 'Dodson', 'Hoffman, Reed and Mcclain', 'East Andrea', 'Vietnam', '(041)737-3846', '+1-556-888-3485x42608', 'mark42@robbins.com', '2020-11-29', 'http://www.douglas.net/'] <class 'list'>
['13', 'e35426EbDEceaFF', 'Tracey', 'Mata', 'Graham-Francis', 'South Joannamouth', 'Togo', '001-949-844-8787', '(855)713-8773', 'alex56@walls.org', '2021-12-02', 'http://www.beck.com/'] <class 'list'>
['14', 'A08A8aF8BE9FaD4', 'Kristine', 'Cox', 'Carpenter-Cook', 'Jodyberg', 'Sri Lanka', '786-284-3358x62152', '+1-315-627-1796x8074', 'holdenmiranda@clarke.com', '2021-02-08', 'https://www.brandt.com/'] <class 'list'>
['15', '6fEaA1b7cab7B6C', 'Faith', 'Lutz', 'Carter-Hancock', 'Burchbury', 'Singapore', '(781)861-7180x8306', '207-185-3665', 'cassieparrish@blevins-chapman.net', '2022-01-26', 'http://stevenson.org/'] <class 'list'>
['16', '8cad0b4CBceaeec', 'Miranda', 'Beasley', 'Singleton and Sons', 'Desireeshire', 'Oman', '540.085.3135x185', '+1-600-462-6432x21881', 'vduncan@parks-hardy.com', '2022-04-12', 'http://acosta.org/'] <class 'list'>
['17', 'a5DC21AE3a21eaA', 'Caroline', 'Foley', 'Winters-Mendoza', 'West Adriennestad', 'Western Sahara', '936.222.4746x9924', '001-469-948-6341x359', 'holtgwendolyn@watson-davenport.com', '2021-03-10', 'http://www.benson-roth.com/'] <class 'list'>
['18', 'F8Aa9d6DfcBeeF8', 'Greg', 'Mata', 'Valentine LLC', 'Lake Leslie', 'Mozambique', '(701)087-2415', '(195)156-1861x26241', 'jaredjuarez@carroll.org', '2022-03-26', 'http://pitts-cherry.com/'] <class 'list'>
['19', 'F160f5Db3EfE973', 'Clifford', 'Jacobson', 'Simon LLC', 'Harmonview', 'South Georgia and the South Sandwich Islands', '001-151-330-3524x0469', '(748)477-7174', 'joseph26@jacobson.com', '2020-09-24', 'https://mcconnell.com/'] <class 'list'>
['20', '0F60FF3DdCd7aB0', 'Joanna', 'Kirk', 'Mays-Mccormick', 'Jamesshire', 'French Polynesia', '(266)131-7001x711', '(283)312-5579x11543', 'tuckerangie@salazar.net', '2021-09-24', 'https://www.camacho.net/'] <class 'list'>
['21', '9F9AdB7B8A6f7F2', 'Maxwell', 'Frye', 'Patterson Inc', 'East Carly', 'Malta', '423.262.3059', '202-880-0688x7491', 'fgibson@drake-webb.com', '2022-01-12', 'http://www.roberts.com/'] <class 'list'>
['22', 'FBd0Ded4F02a742', 'Kiara', 'Houston', 'Manning, Hester and Arroyo', 'South Alvin', 'Netherlands', '001-274-040-3582x10611', '+1-528-175-0973x4684', 'blanchardbob@wallace-shannon.com', '2020-09-15', 'https://www.reid-potts.com/'] <class 'list'>
['23', '2FB0FAA1d429421', 'Colleen', 'Howard', 'Greer and Sons', 'Brittanyview', 'Paraguay', '1935085151', '(947)115-7711x5488', 'rsingleton@ryan-cherry.com', '2020-08-19', 'http://paul.biz/'] <class 'list'>
['24', '010468dAA11382c', 'Janet', 'Valenzuela', 'Watts-Donaldson', 'Veronicamouth', "Lao People's Democratic Republic", '354.259.5062x7538', '500.433.2022', 'stefanie71@spence.com', '2020-09-08', 'https://moreno.biz/'] <class 'list'>
['25', 'eC1927Ca84E033e', 'Shane', 'Wilcox', 'Tucker LLC', 'Bryanville', 'Albania', '(429)005-9030x11004', '541-116-4501', 'mariah88@santos.com', '2021-04-06', 'https://www.ramos.com/'] <class 'list'>
['26', '09D7D7C8Fe09aea', 'Marcus', 'Moody', 'Giles Ltd', 'Kaitlyntown', 'Panama', '674-677-8623', '909-277-5485x566', 'donnamullins@norris-barrett.org', '2022-05-24', 'https://www.curry.com/'] <class 'list'>
['27', 'aBdfcF2c50b0bfD', 'Dakota', 'Poole', 'Simmons Group', 'Michealshire', 'Belarus', '(371)987-8576x4720', '071-152-1376', 'stacey67@fields.org', '2022-02-20', 'https://sanford-wilcox.biz/'] <class 'list'>
['28', 'b92EBfdF8a3f0E6', 'Frederick', 'Harper', 'Hinton, Chaney and Stokes', 'South Marissatown', 'Switzerland', '+1-077-121-1558x0687', '264.742.7149', 'jacobkhan@bright.biz', '2022-05-26', 'https://callahan.org/'] <class 'list'>
['29', '3B5dAAFA41AFa22', 'Stefanie', 'Fitzpatrick', 'Santana-Duran', 'Acevedoville', 'Saint Vincent and the Grenadines', '(752)776-3286', '+1-472-021-4814x85074', 'wterrell@clark.com', '2020-07-30', 'https://meyers.com/'] <class 'list'>
['30', 'EDA69ca7a6e96a2', 'Kent', 'Bradshaw', 'Sawyer PLC', 'North Harold', 'Tanzania', '+1-472-143-5037x884', '126.922.6153', 'qjimenez@boyd.com', '2020-04-26', 'http://maynard-ho.com/'] <class 'list'>
['31', '64DCcDFaB9DFd4e', 'Jack', 'Tate', 'Acosta, Petersen and Morrow', 'West Samuel', 'Zimbabwe', '965-108-4406x20714', '046.906.1442x6784', 'gfigueroa@boone-zavala.com', '2021-09-15', 'http://www.hawkins-ramsey.com/'] <class 'list'>
['32', '679c6c83DD872d6', 'Tom', 'Trujillo', 'Mcgee Group', 'Cunninghamborough', 'Denmark', '416-338-3758', '(775)890-7209', 'tapiagreg@beard.info', '2022-01-13', 'http://www.daniels-klein.com/'] <class 'list'>
['33', '7Ce381e4Afa4ba9', 'Gabriel', 'Mejia', 'Adkins-Salinas', 'Port Annatown', 'Liechtenstein', '4077245425', '646.044.0696x66800', 'coleolson@jennings.net', '2021-04-24', 'https://patel-hanson.info/'] <class 'list'>
['34', 'A09AEc6E3bF70eE', 'Kaitlyn', 'Santana', 'Herrera Group', 'New Kaitlyn', 'United States of America', '6303643286', '447-710-6202x07313', 'georgeross@miles.org', '2021-09-21', 'http://pham.com/'] <class 'list'>
['35', 'aA9BAFfBc3710fe', 'Faith', 'Moon', 'Waters, Chase and Aguilar', 'West Marthaburgh', 'Bahamas', '+1-586-217-0359x6317', '+1-818-199-1403', 'willistonya@randolph-baker.com', '2021-11-03', 'https://spencer-charles.info/'] <class 'list'>
['36', 'E11dfb2DB8C9f72', 'Tammie', 'Haley', 'Palmer, Barnes and Houston', 'East Teresa', 'Belize', '001-276-734-4113x6087', '(430)300-8770', 'harrisisaiah@jenkins.com', '2022-01-04', 'http://evans-simon.com/'] <class 'list'>
['37', '889eCf90f68c5Da', 'Nicholas', 'Sosa', 'Jordan Ltd', 'South Hunter', 'Uruguay', '(661)425-6042', '975-998-1519', 'fwolfe@dorsey.com', '2021-08-10', 'https://www.fleming-richards.com/'] <class 'list'>
['38', '7a1Ee69F4fF4B4D', 'Jordan', 'Gay', 'Glover and Sons', 'South Walter', 'Solomon Islands', '7208417020', '8035336772', 'tiffanydavies@harris-mcfarland.org', '2021-02-24', 'http://www.lee.org/'] <class 'list'>
['39', 'dca4f1D0A0fc5c9', 'Bruce', 'Esparza', 'Huerta-Mclean', 'Poolefurt', 'Montenegro', '559-529-4424', '001-625-000-7132x0367', 'preese@frye-vega.com', '2021-10-22', 'http://www.farley.org/'] <class 'list'>
['40', '17aD8e2dB3df03D', 'Sherry', 'Garza', 'Anderson Ltd', 'West John', 'Poland', '001-067-713-6440x158', '(978)289-8785x5766', 'ann48@miller.com', '2021-11-01', 'http://spence.com/'] <class 'list'>
['41', '2f79Cd309624Abb', 'Natalie', 'Gentry', 'Monroe PLC', 'West Darius', 'Dominican Republic', '830.996.8238', '499.122.5415', 'tcummings@fitzpatrick-ashley.com', '2020-10-10', 'http://www.dorsey.biz/'] <class 'list'>
['42', '6e5ad5a5e2bB5Ca', 'Bryan', 'Dunn', 'Kaufman and Sons', 'North Jimstad', 'Burkina Faso', '001-710-802-5565', '078.699.8982x13881', 'woodwardandres@phelps.com', '2021-09-08', 'http://www.butler.com/'] <class 'list'>
['43', '7E441b6B228DBcA', 'Wayne', 'Simpson', 'Perkins-Trevino', 'East Rebekahborough', 'Bolivia', '(344)156-8632x1869', '463-445-3702x38463', 'barbarapittman@holder.com', '2020-12-13', 'https://gillespie-holder.com/'] <class 'list'>
['44', 'D3fC11A9C235Dc6', 'Luis', 'Greer', 'Cross PLC', 'North Drew', 'Bulgaria', '001-336-025-6849x701', '684.698.2911x6092', 'bstuart@williamson-mcclure.com', '2022-05-15', 'https://fletcher-nielsen.com/'] <class 'list'>
['45', '30Dfa48fe5Ede78', 'Rhonda', 'Frost', 'Herrera, Shepherd and Underwood', 'Lake Lindaburgh', 'Monaco', '(127)081-9339', '+1-431-028-3337x3492', 'zkrueger@wolf-chavez.net', '2021-12-06', 'http://www.khan.com/'] <class 'list'>
['46', 'fD780ED8dbEae7B', 'Joanne', 'Montes', 'Price, Sexton and Mcdaniel', 'Gwendolynview', 'Palau', '(897)726-7952', '(467)886-9467x5721', 'juan80@henson.net', '2020-07-01', 'http://ochoa.com/'] <class 'list'>
['47', '300A40d3ce24bBA', 'Geoffrey', 'Guzman', 'Short-Wiggins', 'Zimmermanland', 'Uzbekistan', '975.235.8921x269', '(983)188-6873', 'bauercrystal@gay.com', '2020-04-23', 'https://decker-kline.com/'] <class 'list'>
['48', '283DFCD0Dba40aF', 'Gloria', 'Mccall', 'Brennan, Acosta and Ramos', 'North Kerriton', 'Ghana', '445-603-6729', '001-395-959-4736x4524', 'bartlettjenna@zuniga-moss.biz', '2022-03-11', 'http://burgess-frank.com/'] <class 'list'>
['49', 'F4Fc91fEAEad286', 'Brady', 'Cohen', 'Osborne-Erickson', 'North Eileenville', 'United Arab Emirates', '741.849.0139x524', '+1-028-691-7497x0894', 'mccalltyrone@durham-rose.biz', '2022-03-10', 'http://hammond-barron.com/'] <class 'list'>
['50', '80F33Fd2AcebF05', 'Latoya', 'Mccann', 'Hobbs, Garrett and Sanford', 'Port Sergiofort', 'Belarus', '(530)287-4548x29481', '162-234-0249x32790', 'bobhammond@barry.biz', '2021-12-02', 'https://www.burton.com/'] <class 'list'>
['51', 'Aa20BDe68eAb0e9', 'Gerald', 'Hawkins', 'Phelps, Forbes and Koch', 'New Alberttown', 'Canada', '+1-323-239-1456x96168', '(092)508-0269', 'uwarner@steele-arias.com', '2021-03-19', 'https://valenzuela.com/'] <class 'list'>
['52', 'e898eEB1B9FE22b', 'Samuel', 'Crawford', 'May, Goodwin and Martin', 'South Jasmine', 'Algeria', '802-242-7457', '626.116.9535x8578', 'xpittman@ritter-carney.net', '2021-03-27', 'https://guerrero.org/'] <class 'list'>
['53', 'faCEF517ae7D8eB', 'Patricia', 'Goodwin', 'Christian, Winters and Ellis', 'Cowanfort', 'Swaziland', '322.549.7139x70040', '(111)741-4173', 'vaughanchristy@lara.biz', '2021-03-08', 'http://clark.info/'] <class 'list'>
['54', 'c09952De6Cda8aA', 'Stacie', 'Richard', 'Byrd Inc', 'New Deborah', 'Madagascar', '001-622-948-3641x24810', '001-731-168-2893x8891', 'clinton85@colon-arias.org', '2020-10-15', 'https://kim.com/'] <class 'list'>
['55', 'f3BEf3Be028166f', 'Robin', 'West', 'Nixon, Blackwell and Sosa', 'Wallstown', 'Ecuador', '698.303.4267', '001-683-837-7651x525', 'greenemiranda@zimmerman.com', '2022-01-13', 'https://www.mora.com/'] <class 'list'>
['56', 'C6F2Fc6a7948a4e', 'Ralph', 'Haas', 'Montes PLC', 'Lake Ellenchester', 'Palestinian Territory', '2239271999', '001-962-434-0867x649', 'goodmancesar@figueroa.biz', '2020-05-25', 'http://may.com/'] <class 'list'>
['57', 'c8FE57cBBdCDcb2', 'Phyllis', 'Maldonado', 'Costa PLC', 'Lake Whitney', 'Saint Barthelemy', '4500370767', '001-508-064-6725x017', 'yhanson@warner-diaz.org', '2021-01-25', 'http://www.bernard.com/'] <class 'list'>
['58', 'B5acdFC982124F2', 'Danny', 'Parrish', 'Novak LLC', 'East Jaredbury', 'United Arab Emirates', '(669)384-8597x8794', '506.731.5952x571', 'howelldarren@house-cohen.com', '2021-03-17', 'http://www.parsons-hudson.com/'] <class 'list'>
['59', '8c7DdF10798bCC3', 'Kathy', 'Hill', 'Moore, Mccoy and Glass', 'Selenabury', 'South Georgia and the South Sandwich Islands', '001-171-716-2175x310', '888.625.0654', 'ncamacho@boone-simmons.org', '2020-11-15', 'http://hayden.com/'] <class 'list'>
['60', 'C681dDd0cc422f7', 'Kelli', 'Hardy', 'Petty Ltd', 'Huangfort', 'Sao Tome and Principe', '020.324.2191x2022', '424-157-8216', 'kristopher62@oliver.com', '2020-12-20', 'http://www.kidd.com/'] <class 'list'>
['61', 'a940cE42e035F28', 'Lynn', 'Pham', 'Brennan, Camacho and Tapia', 'East Pennyshire', 'Portugal', '846.468.6834x611', '001-248-691-0006', 'mpham@rios-guzman.com', '2020-08-21', 'https://www.murphy.com/'] <class 'list'>
['62', '9Cf5E6AFE0aeBfd', 'Shelley', 'Harris', 'Prince, Malone and Pugh', 'Port Jasminborough', 'Togo', '423.098.0315x8373', '+1-386-458-8944x15194', 'zachary96@mitchell-bryant.org', '2020-12-10', 'https://www.ryan.com/'] <class 'list'>
['63', 'aEcbe5365BbC67D', 'Eddie', 'Jimenez', 'Caldwell Group', 'West Kristine', 'Ethiopia', '+1-235-657-1073x6306', '(026)401-7353x2417', 'kristiwhitney@bernard.com', '2022-03-24', 'http://cherry.com/'] <class 'list'>
['64', 'FCBdfCEAe20A8Dc', 'Chloe', 'Hutchinson', 'Simon LLC', 'South Julia', 'Netherlands', '981-544-9452', '+1-288-552-4666x060', 'leah85@sutton-terrell.com', '2022-05-15', 'https://mitchell.info/'] <class 'list'>
['65', '636cBF0835E10ff', 'Eileen', 'Lynch', 'Knight, Abbott and Hubbard', 'Helenborough', 'Liberia', '+1-158-951-4131x53578', '001-673-779-6713x680', 'levigiles@vincent.com', '2021-01-02', 'http://mckay.com/'] <class 'list'>
['66', 'fF1b6c9E8Fbf1ff', 'Fernando', 'Lambert', 'Church-Banks', 'Lake Nancy', 'Lithuania', '497.829.9038', '3863743398', 'fisherlinda@schaefer.net', '2021-04-23', 'https://www.vang.com/'] <class 'list'>
['67', '2A13F74EAa7DA6c', 'Makayla', 'Cannon', 'Henderson Inc', 'Georgeport', 'New Caledonia', '001-215-801-6392x46009', '027-609-6460', 'scottcurtis@hurley.biz', '2020-01-20', 'http://www.velazquez.net/'] <class 'list'>
['68', 'a014Ec1b9FccC1E', 'Tom', 'Alvarado', 'Donaldson-Dougherty', 'South Sophiaberg', 'Kiribati', '(585)606-2980x2258', '730-797-3594x5614', 'nicholsonnina@montgomery.info', '2020-08-18', 'http://odom-massey.com/'] <class 'list'>
['69', '421a109cABDf5fa', 'Virginia', 'Dudley', 'Warren Ltd', 'Hartbury', 'French Southern Territories', '027.846.3705x14184', '+1-439-171-1846x4636', 'zvalencia@phelps.com', '2021-01-31', 'http://hunter-esparza.com/'] <class 'list'>
['70', 'CC68FD1D3Bbbf22', 'Riley', 'Good', 'Wade PLC', 'Erikaville', 'Canada', '6977745822', '855-436-7641', 'alex06@galloway.com', '2020-02-03', 'http://conway.org/'] <class 'list'>
['71', 'CBCd2Ac8E3eBDF9', 'Alexandria', 'Buck', 'Keller-Coffey', 'Nicolasfort', 'Iran', '078-900-4760x76668', '414-112-8700x68751', 'lee48@manning.com', '2021-02-20', 'https://ramsey.org/'] <class 'list'>
['72', 'Ef859092FbEcC07', 'Richard', 'Roth', 'Conway-Mcbride', 'New Jasmineshire', 'Morocco', '581-440-6539', '9857827463', 'aharper@maddox-townsend.org', '2020-02-23', 'https://www.brooks.com/'] <class 'list'>
['73', 'F560f2d3cDFb618', 'Candice', 'Keller', 'Huynh and Sons', 'East Summerstad', 'Zimbabwe', '001-927-965-8550x92406', '001-243-038-4271x53076', 'buckleycory@odonnell.net', '2020-08-22', 'https://www.lucero.com/'] <class 'list'>
['74', 'A3F76Be153Df4a3', 'Anita', 'Benson', 'Parrish Ltd', 'Skinnerport', 'Russian Federation', '874.617.5668x69878', '(399)820-6418x0071', 'angie04@oconnell.com', '2020-02-09', 'http://oconnor.com/'] <class 'list'>
['75', 'D01Af0AF7cBbFeA', 'Regina', 'Stein', 'Guzman-Brown', 'Raystad', 'Solomon Islands', '001-469-848-0724x4407', '001-085-360-4426x00357', 'zrosario@rojas-hardin.net', '2022-01-15', 'http://www.johnston.info/'] <class 'list'>
['76', 'd40e89dCade7b2F', 'Debra', 'Riddle', 'Chang, Aguirre and Leblanc', 'Colinhaven', 'United States Virgin Islands', '+1-768-182-6014x14336', '(303)961-4491', 'shieldskerry@robles.com', '2020-07-11', 'http://kaiser.info/'] <class 'list'>
['77', 'BF6a1f9bd1bf8DE', 'Brittany', 'Zuniga', 'Mason-Hester', 'West Reginald', 'Kyrgyz Republic', '(050)136-9025', '001-480-851-2496x0157', 'mchandler@cochran-huerta.org', '2021-07-24', 'http://www.boyle.com/'] <class 'list'>
['78', 'FfaeFFbbbf280db', 'Cassidy', 'Mcmahon', 'Mcguire, Huynh and Hopkins', 'Lake Sherryborough', 'Myanmar', '5040771311', '684-682-0021x1326', 'katrinalane@fitzgerald.com', '2020-10-21', 'https://hurst.com/'] <class 'list'>
['79', 'CbAE1d1e9a8dCb1', 'Laurie', 'Pennington', 'Sanchez, Marsh and Hale', 'Port Katherineville', 'Dominica', '007.155.3406x553', '+1-809-862-5566x277', 'cookejill@powell.com', '2020-06-08', 'http://www.hebert.com/'] <class 'list'>
['80', 'A7F85c1DE4dB87f', 'Alejandro', 'Blair', 'Combs, Waller and Durham', 'Thomasland', 'Iceland', '(690)068-4641x51468', '555.509.8691x2329', 'elizabethbarr@ewing.com', '2020-09-19', 'https://mercado-blevins.com/'] <class 'list'>
['81', 'D6CEAfb3BDbaa1A', 'Leslie', 'Jennings', 'Blankenship-Arias', 'Coreybury', 'Micronesia', '629.198.6346', '075.256.0829', 'corey75@wiggins.com', '2021-11-13', 'https://www.juarez.com/'] <class 'list'>
['82', 'Ebdb6F6F7c90b69', 'Kathleen', 'Mckay', 'Coffey, Lamb and Johnson', 'Lake Janiceton', 'Saint Vincent and the Grenadines', '(733)910-9968', '(691)247-4128x0665', 'chloelester@higgins-wilkinson.com', '2021-09-12', 'http://www.owens-mooney.com/'] <class 'list'>
['83', 'E8E7e8Cfe516ef0', 'Hunter', 'Moreno', 'Fitzpatrick-Lawrence', 'East Clinton', 'Isle of Man', '(733)833-6754', '001-761-013-7121', 'isaac26@benton-finley.com', '2020-12-28', 'http://walls.info/'] <class 'list'>
['84', '78C06E9b6B3DF20', 'Chad', 'Davidson', 'Garcia-Jimenez', 'South Joshuashire', 'Oman', '8275702958', '(804)842-4715', 'justinwalters@jimenez.com', '2021-11-15', 'http://www.garner-oliver.com/'] <class 'list'>
['85', '03A1E62ADdeb31c', 'Corey', 'Holt', 'Mcdonald, Bird and Ramirez', 'New Glenda', 'Fiji', '001-439-242-4986x7918', '3162708934', 'maurice46@morgan.com', '2020-02-18', 'http://www.watson.com/'] <class 'list'>
['86', 'C6763c99d0bd16D', 'Emma', 'Cunningham', 'Stephens Inc', 'North Jillianview', 'New Zealand', '128-059-0206x60217', '(312)164-4545x2284', 'walter83@juarez.org', '2022-05-13', 'http://www.reid.info/'] <class 'list'>
['87', 'ebe77E5Bf9476CE', 'Duane', 'Woods', 'Montoya-Miller', 'Lyonsberg', 'Maldives', '(636)544-7783x7288', '(203)287-1003x5932', 'kmercer@wagner.com', '2020-07-21', 'http://murray.org/'] <class 'list'>
['88', 'E4Bbcd8AD81fC5f', 'Alison', 'Vargas', 'Vaughn, Watts and Leach', 'East Cristinabury', 'Benin', '365-273-8144', '053-308-7653x6287', 'vcantu@norton.com', '2020-11-10', 'http://mason.info/'] <class 'list'>
['89', 'efeb73245CDf1fF', 'Vernon', 'Kane', 'Carter-Strickland', 'Thomasfurt', 'Yemen', '114-854-1159x555', '499-608-4612', 'hilljesse@barrett.info', '2021-04-15', 'http://www.duffy-hensley.net/'] <class 'list'>

In [ ]:
csv_file_path= 'sample_output_csv'

data=[
    {"name":"sawani","age":22,"city":"matugama"}
]
fieldNames=["Name","Age","City"]

In [2]:
import csv

csv_path = "my_csv_file.csv"

data =[{"Name": "John Doe", "Age":39, "City": "New York"},
       {"Name":"Jane Smith", "Age":29, "City": "Los Angeles"},
       {"Name":"Bobby John", "Age":"38", "City": "Chicago"}]

field_names =["Name","Age","City"]

with open(csv_path, 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=field_names)
    writer.writeheader()

    for row in data:
        writer.writerow(row)